/*Despite it is a study, relaxing website, the main color scheme I've chosen to go with belongs to the game that I was referencing to, which are the three main colors of black, white and red.
This is the only colors that I tried to stick to throughout the website for consistency of the art style. */
body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

.mainscreen {
  width: 100%;
  height: 100vh;
  position: relative;
}

body {
  font-family: "Arsenal", sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#timerscreen {
  margin: 0 auto;
  width: fit-content;
  position: absolute;
  top: 30%;
  left: 70%;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 50px;
  text-align: center;
  display: none;
}

/* As mentioned before, I originally wanted the pomodoro timer and to-do list to be draggable boxes that opened up upon a click and is a box that can be drag around the site.
However, due to lack of time, I had to resolve to leaving the box on the side of the web. Although I think this is still a succesful design as I've also had some problems with the
controls layout so this was a good substitution to the overall layout.*/

.title {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

.timercount {
  font-size: 75px;
  color: white;
  text-shadow: -2px 4px 1px rgb(206, 0, 0);
}

.timer-button button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}
#start {
  background-color: black;
}
#stop {
  background-color: darkred;
}
#reset {
  background-color: gray;
}

/* The following code for the mainVideo media are my studies of these two youtube videos https://www.youtube.com/watch?v=emL9dkijfZY and https://www.youtube.com/watch?v=znqUwx0b0HI.
I'm not sure if this was permittable or if it's against our assignment requirement (as I am changing up the layout) but since I was already set on the big background video/backdrop idea 
from the beginning. I wanted to pursue and try it out as it is also the main/biggest point in my website, to immerse the users into the space of the video.

However, I struggled alot with this layout as I found out through research that usually people would only use muted button-less looping video as the background
but because mine was with buttons. It was definietly a hard challenge for me. */

.mainvideo {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

@media (min-aspect-ratio: 16/9) {
  .mainvideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .mainvideo {
    width: auto;
    height: 100%;
  }
}

/* Navigation styling */
nav {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 10px;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

/*Previously in my sketching plan, I wanted my play button to be on the left side of the web while the volume would be a flex column on the right. 
However, as I implemented the full background screen video, I ran into a few problems with th flex boxes and had to resolve with all of the buttons in a single flex column. Despite that, 
I am still very happy with the results as I think it still make sense and also seems to be even easier/more direct to use.*/

.custom-controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  height: auto;
  padding: 10px;
}

.custom-controls button {
  border: none;
  background-color: transparent;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

/* I initially planned to also have a fullscreen element to fully immerse the users into the studyscape, to help with not seeing the other distractions on their devices. 
However, the plan had to be put off as I did not have enough time to trouble shoot some of the problems I encounter while implementing it.
I think one of the reason could have been from my main media player is already a full-screen backdrop video. 
But I figure there should be a way around it if I have had more time to work through the problem carefully.

.gofullscreen {
  width: fit-content;
  height: auto;
  padding: 10px;
}

.gofullscreen button {
  border: none;
  background-color: transparent;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
} */

/* I've had my footer set to be positioned fixed to the site as I've noticed due to the main media player's responsiveness, it was a bit hard to work around 
with the layout of the web and so I wanted to tie at least the footer down so that there are no further misplacements. */

footer {
  text-align: center;
  color: grey;
  padding: 10px;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

footer a {
  color: rgb(224, 224, 224);
}
